# This is a sample configuration file. Copy it to fahrradbox.ini and change
# the settings to your needs.

[base]
url = https://www.example.com
wait_time = 60

[mqtt]
host = iot.eclipse.org

[topics]
status = fahrradbox/{nr}/belegt
date = fahrradbox/{nr}/datum
raw = fahrradbox/{nr}/raw
